body { 
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 82%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    position: relative;
    padding: 40px 0;
}

.logo__text {
    padding-left: 65px;

    font-family: 'PT Serif', arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.logo__circle {
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.7;
}

.logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 26px;
    top: 56%;
    background: #C8DBFB;
}

/*МЕНЮ МЕНЮ МЕНЮ*/
.menu {
    display: flex;
    align-items: center;
    width: 410px;
    padding-top: 5px ;
    padding-left: 28px;
}

.menu__item {
    position: relative;
    margin-right: 27px;
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 21px;
    color: #000;
    text-decoration: none;  
    transition: opacity 0.5s;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item_active::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #0056EC;
}

.menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #0056EC;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
    opacity: 0.5;
}

.menu__item:hover::after, .menu__item_active:after {
    opacity: 1;
    width: 100%;
}

/*ОСНОВНАЯ ЧАСТЬ САЙТА*/

.main {
    position: relative;
    padding: 106px 63% 200px 25px;
    background-repeat: no-repeat;
    background-position: top right;
}

.main__title {
    margin: 0 0 38px 0;
    font-family: 'PT Serif', arial, helvetica, serif, sans-serif;
    font-weight: bold;
    font-size: 66px;
    line-height: 87px;
}

.main__title-text_highlight {
    background: linear-gradient(#C8DBFB, #FFFFFF);
}

.main__description {
    margin: 0 0 41px 0;
    max-width: 455px;
    font-family: 'Roboto', arial, helvetica, serif, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.img {
    position: absolute;
    left: 50%;
    top: 30px;

}

.main__button {
    display: inline-block;
    font-family: 'Roboto', arial, helvetica, serif, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 18px 30px 19px 22px;
    background: #0056EC;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.5s;
}

.main__button:hover {
    opacity: .5;
}


