body { 
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font-family: 'PT Serif', arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.7;
}

.logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    padding: 0 13px;  
}

.menu__item:last-child {
    padding-right: 0;
}

h1 {
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

